body{
    max-width: 1920px;
    justify-content: center;
    text-align: center;
}
.display-box{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line-holder{
    gap: 5px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

.word-holder {
    width:80px;
    height: 80px;
    border: 1px solid black;
    
}
